@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap");
.home-details h1 {
  font-size: 80px;
  font-family: "Lobster", cursive;
}

.home-details h1,
p {
  color: rgb(214, 214, 214);
}

.booking-btn {
  background-color: #e47657;
  border: none;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.booking-btn:hover {
  background-color: #d64219;
  color: #fff;
}

.box-shadow {
  box-shadow: rgb(39, 39, 39) 0px 2px 4px 0px, rgb(63, 63, 63) 0px 2px 16px 0px;
}

@media screen and (max-width: 992px) {
  .home-details h1 {
    font-size: 80px;
    color: #000;
    font-family: "Lobster", cursive;
  }

  .home-details p {
    color: rgb(156, 156, 156);
  }

  img {
    width: 100%;
  }
}
