.googleBtn {
  background-color: transparent;
  color: #000000;
  transition: 0.5s;
  border: 1px solid black;
  outline: none;
  border-radius: 50px;
  width: 300px;
  padding: 10px 0;
}

.googleBtn:hover {
  background-color: #e47657;
  border: 1px solid #e47657;
  color: aliceblue;
}

.googleBtn:focus {
  background-color: #e47657;
}
